footer {
  .container {
    .row {
      .col-1 {
        a {
          i {
            transition: all 1s;
            &:hover {
              color: $firstColor;
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
}
