.carousel-inner {
  .carousel-item {
    .index__img {
      position: relative;
      max-height: 75.3vh;
      object-fit: cover;
    }
    .index__imgtext {
      position: absolute;
      top: 40%;
    }
  }
}
.card {
  .img__card {
    max-width: 100%;
  }
  .card-body {
    .btn {
      &:hover {
        background: linear-gradient(90deg, $firstColor, white, $firstColor);
      }
    }
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
}
