@media screen and (max-width: 980px) {
  .container__services {
    @include flex(column);
  }
  .container__proyect {
    @include flex(column);
    .img__proyect {
      opacity: 1;
      &:hover {
        transform: none;
      }
    }
  }
  .container__process {
    margin-inline: none;
  }
  .container__index {
    @include flex(column);
    align-items: center;
  }
}
