// estilos del main de mi pagina Proceso
.container__process {
  @include flex(column);
  margin-inline: 10%;
  .cardProcess {
    @include flex(column);
    align-items: center;
    margin: 0.5rem 4rem;
    .img__process {
      border-radius: 10rem;
      width: 20rem;
      max-height: 20rem;
      border: solid 1px $secondColor;
      object-fit: cover;
    }
  }
}
