.container__services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  margin: 3rem;
  gap: 1rem;
  .cardServices {
    @include flex(column);
    justify-content: space-between;
    .img__services {
      max-height: 19rem;
      padding: auto;
      padding: 2rem;
      margin-right: 1.5rem;
      object-fit: cover;
    }
  }
}
